extend layout
block content
  p Welcome to Chub: the modern child check in system that will save you time while increasing the safety and security of your facility.
  h2 Savings
  p The purpose of Chub is to work for you! Here are a few of the ideas that I think will let you focus on the important parts of your job. Good bye tedium!
  ul
    li Every week you need to track who visited, who was there, and who hasn't attended in a while. These numbers take time and mental effort. Chub can give you these lists instantly, even while kids are participating in a program.
    li Reaching out to visitors is important and exciting. It is more difficult if you can&#8217;t read the penmanship used to fill out a registration card. Data entered into Chub is always legible and Chub will even help you by printing an address label.
    li Chub makes trends front and center, you won&#8217;t be spending time reviewing tables of names and numbers, attempting to figure out the trends for yourself.
    li Share label printers between many computers, tablets, and phones. No longer do you need a dedicated printer for each. Oh, and any iOS device can print via Chub too. No need to fight with printer incompatibility. It just works.
    li Use fewer labels when parents bring their smart phones. If a parent has installed our smart phone app, then they won&#8217;t get a pick up label. All they need will be on their phone, saving you labels and the effort of re-ordering.
    li Chub knows how many labels you&#8217;ve used, if you want we&#8217;ll drop ship you labels before you run out. No emergencies, no running to the store or ordering on line.
  h2 Safety &amp; Security
  p Let&#8217;s face it, no software will deliver you safety and security all alone, people and procedures need to be the foundation. However, Chub does have a few features that will aid you. 
  ul
    li Want up to date allergy information? Chub enables parents to be in charge of allergy information, no more annual forms for you to process. As soon as there is an allergy change, it is instantly available to your staff and you don&#8217;t need to be involved.
    li Each time a child checks in, Chub generates a unique code. The code is on the child&#8217;s sticker and it&#8217;s given to the parent who dropped off the child and anyone they may have authorized to pick up their children. You are no longer the bottle neck on who can pick up a child. Instead staff only need to match the codes before releasing children. As soon as a parent changes the pick-up authorization rules, Chub puts them into action.
  p Do these features get you excited? Add your name to the mailing list and you&#8217;ll be on the inside track for updates.
block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.



